.left-column {
    // width: 672px;
    // display: flex;
    // flex-direction: column;
    // margin-top: 64px;
    .desciption {
        // margin-top: 32px;
        // width: 544px;
        // font-size: 16px;
        // letter-spacing: 0;
    }
    .copyright-desktop {
        // margin-top: 46px;
        // margin-bottom: 58px;
        // color: #6d7a80;
    }
}

.middle-column {
    // width: 256px;
    // margin-top: 65px;
    h3 {
        margin-bottom: 24px;
    }
    .nav-footer {
        display: flex;
        flex-direction: column;
        .link {
            margin-top: 0;
            margin-bottom: 16px;
            text-decoration: none;
            font-size: 16px;
            color: var(--fourth-color);
        }
    }
}

.right-column {
    // width: 192px;
    // margin-top: 65px;
    h3 {
        margin-bottom: 24px;
    }
    .mail {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            color: var(--fourth-color);
            font-size: 16px;
            margin-left: 16px;
        }
        margin-bottom: 69px;
    }
    .lower-content {
        .icon-container {
            display: flex;
            justify-content: space-between;
            .icons {
                width: 32px;
                background-color: var(--second-color);
                border: 1px solid var(--fourth-color);
                border-radius: 8px;
                // padding: 8px;
                img {
                    height: 16px;
                    margin: 7px;
                }
            }
            .icons:hover {
                cursor: pointer;
            }
        }
    }
}

.copyright-mob {
    display: none;
    color: #6d7a80;
}
