.left {
    width: 50%;
}

.nav-mob {
    display: none;
}

@media (max-width: 375px) {
    .row {
        justify-content: space-between;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mob {
        display: flex;
    }
}
