.container.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.left {
    width: 50%;
}
.right {
    width: 50%;
}

.nav-mob {
    display: none;
}

.link {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    color: var(--sixth-color);
}

.link:active {
    color: var(--second-color);
}

span {
    color: var(--second-color);
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 375px) {
    .container.header {
        padding-left: 16px;
        padding-right: 16px;
    }
    .row {
        justify-content: space-between;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mob {
        display: flex;
    }
}
