.step {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 448px;
    height: calc(669px / 3);
}

.step {
    .img {
        img {
            width: 128px;
        }
    }
}

.description {
    font-size: 20px;
}

.description > span {
    font-weight: bold;
}

h2 {
    font-size: 32px;
}

@media (max-width: 375px) {
    .right-content {
        width: 100%;
        .step {
            width: 100%;
        }
    }
}
