.step {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 448px;
    height: calc(669px / 3);
    .img {
        img {
            width: 128px;
        }
    }
    .img.left {
        margin-right: 56px;
    }
    .description {
        font-size: 20px;
        span {
            font-weight: bold;
            color: var(--second-color);
        }
        h2 {
            font-size: 32px;
        }
    }
}
.step.img-right {
    .description {
        width: 260px;
    }
}
