.chrome,
.apple {
    // width: 312px;
    // height: 80px;
    // margin: 32px 0 32px 0;
    // padding-top: 16px;
    // padding-bottom: 16px;
    // padding-left: 16px;
    // display: flex;
    // align-items: center;
    // flex-direction: row;
    // border: 1px solid var(--fourth-color);
    // border-radius: 16px;
    // color: var(--third-color);
    // text-decoration: none;
    .description {
        // margin-left: 20px;
        // p,
        // h5 {
        //     margin: 0;
        // }
        // p {
        //     font-size: 16px;
        // }
        // h5 {
        //     font-size: 20px;
        //     font-family: var(--third-font-family);
        // }
    }
}

.chrome {
    margin-right: 16px;
}

.apple {
    margin-right: 32px;
}

.apple-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--third-color);
    .star {
        color: var(--third-color);
        width: 21.04px;
        padding: 61.5px 0 62.5px 0;
        margin-right: 4px;
    }
    .reviews {
        font-size: 20px;
        margin-left: 12px;
    }
}

.icon {
    .store {
        width: 48px;
    }
}
