:root {
    --first-color: #f8cc5d;
    --second-color: #4eb3e3;
    --third-color: #ffffff;
    --fourth-color: #1f343e;
    --fifth-color: #45565e;
    --sixth-color: #434a54;
    --seventh-color: #f8f4f9;
    --eighty-color: #ed6f82;
    --main-font-family: 'Noto Sans', sans-serif;
    --second-font-family: 'Caveat Brush', cursive;
    --third-font-family: 'gadugi', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);
    color: var(--fourth-color);
    letter-spacing: 0.5px;
}
