.container {
    width: 100%;
    border-bottom: 1px solid var(--fourth-color);
    .row {
        display: flex;
        width: 1112px;
        margin-left: calc(50% - 1112px / 2);
    }
}

@media (max-width: 375px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        .row {
            width: 100%;
            margin: 0;
        }
    }
}
