@import '../../style/basic/bace.scss';

.container {
    width: 100%;
    border-bottom: var(--border);
    // .row {
    //     display: flex;
    //     width: 1120px;
    //     margin-left: calc(50% - 1120px / 2);
    // }
}

@media (min-width: 280px) {
    .container.header,
    .container.main,
    .container.store,
    .container.footer {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin: 0;
        .row {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .container.header {
        .row.header {
            .nav-desktop {
                display: none;
            }
            .nav-mob {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
            .nav-mob .nav-link {
                display: inline-block;
                position: relative;
            }
            .nav-mob .nav-link .dropdown .link-drop {
                display: block;
                text-align: left;
                padding-left: 1rem;
                height: 40px;
                margin-bottom: 8px;
            }
            .link {
                font-family: var(--third-font-family);
                font-size: 1rem;
                text-decoration: none;
                color: var(--fourth-color);
            }
            .nav-mob .nav-link .dropdown {
                width: 375px;
                background-color: var(--third-color);
                position: absolute;
                left: -340px;
                top: 50px;
                padding-top: 32px;
                padding-bottom: 13px;
                z-index: 999;
                display: none;
                border-bottom: var(--border);
            }
            .nav-mob .nav-link:hover .dropdown {
                display: none;
            }
            .nav-mob .nav-link:hover .dropdown.open {
                display: block;
            }
            button {
                border: none;
                width: 18.29px;
                background-color: var(--third-color);
            }
        }
    }
    .container.main {
        background-color: var(--first-color);
        .row {
            .box-form {
                width: 100%;
                // min-width: 343px;
                max-width: 544px;
                margin: 2rem 0 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                padding: 2rem 1rem 2rem 1rem;
                border-radius: 1rem;
                background-color: var(--seventh-color);
                border: var(--border);
                h1 {
                    font-size: calc(2 * var(--font-size-sm));
                    margin-bottom: 1.5rem;
                    font-weight: 400;
                }
                p {
                    font-size: var(--font-size-sm);
                    margin-bottom: 1.5rem;
                    letter-spacing: 0px;
                }
                .messages {
                    width: 100%;
                    text-align: left;
                    .error {
                        color: var(--eighty-color);
                        font-size: 0.75rem;
                        margin-bottom: 0.4375rem;
                    }
                    .success {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        img {
                            width: 1.5rem;
                        }
                        span {
                            font-family: var(--main-font-family);
                            font-weight: bold;
                            margin-left: var(--font-size-sm);
                        }
                    }
                }
                form {
                    display: grid;
                    grid-template-columns: 1fr;
                    width: 100%;
                    .web {
                        display: none;
                    }
                    .mob {
                        display: flex;
                        button {
                            span {
                                color: var(--third-color);
                                font-size: var(--font-size-sm);
                            }
                        }
                        #email {
                            &::placeholder {
                                margin-left: 10px;
                            }
                            &[submitted='false'] {
                                background: url(../../assets/email.svg)
                                    no-repeat scroll 1rem 1.25rem;
                                background-size: 1rem;
                            }
                        }
                    }
                    .envelope-img {
                        position: absolute;
                        padding-top: 1rem;
                        padding-left: 1.25rem;
                    }
                    span {
                        font-size: 1rem;
                        margin-bottom: 31.5rem;
                        color: #6d7a80;
                    }
                    input {
                        padding-left: 60px;
                        margin-bottom: 16px;
                    }
                    input,
                    .form-btn {
                        width: 100%;
                        margin: 0;
                        font-size: var(--font-size-sm);
                        padding-top: 1.125rem;
                        padding-bottom: 1rem;
                        border: var(--border);
                        border-radius: 0.5rem;
                    }
                    .form-btn {
                        color: var(--third-color);
                        background-color: var(--second-color);
                        text-transform: capitalize;
                        cursor: pointer;
                        margin-top: 1rem;
                        margin-bottom: 4.5rem;
                    }
                    span {
                        margin: 0;
                        color: #6d7a80;
                    }
                }
            }
        }
        .right-content {
            width: 100%;
            margin: 40.78px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .step {
                width: 100%;
                height: auto;
                display: flex;
                margin: 0;
                padding: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .img.left {
                    margin-right: 0;
                }
                .img {
                    width: 100%;
                    margin-bottom: 33.78px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 128px;
                    }
                }
                .description {
                    margin: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    span {
                        font-size: var(--font-size-sm);
                        margin-bottom: 1rem;
                    }
                    h2 {
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: var(--font-size-sm);
                        margin: 0 0 44.78px 0;
                        width: 100%;
                    }
                }
            }
            .step.img-right {
                display: flex;
                flex-direction: column-reverse;
                .description {
                    width: 100%;
                }
            }
        }
    }
    .container.store {
        background-color: var(--fifth-color);
        .row {
            align-items: center;
            .chrome,
            .apple {
                width: 312px;
                height: 80px;
                margin: 32px 0 32px 0;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 16px;
                display: flex;
                align-items: center;
                flex-direction: row;
                border: 1px solid var(--fourth-color);
                border-radius: 16px;
                color: var(--third-color);
                text-decoration: none;
            }
            .description {
                margin-left: 20px;
                p,
                h5 {
                    margin: 0;
                }
                p {
                    font-size: 16px;
                }
                h5 {
                    font-size: 20px;
                    font-family: var(--third-font-family);
                }
            }
            .chrome {
                margin: 2rem 0 1rem 0;
            }
            .apple {
                margin: 0 0 1rem 0;
            }
            .apple-reviews {
                margin: 0 0 2rem 0;
            }
            .apple-reviews {
                .star {
                    width: 1rem;
                    margin-right: 0.25rem;
                    padding: 0;
                }
                .reviews {
                    font-size: var(--font-size-sm);
                    margin-left: 0.75rem;
                }
            }
        }
    }
    .container.footer {
        .row {
            .left-column {
                width: 100%;
                margin: 0;
                padding: 0;
                .logo-container {
                    width: 100%;
                    margin-top: 3rem;
                    margin-left: 1rem;
                }
                .desciption {
                    width: 100%;
                    margin: 0;
                    padding: 2rem 1rem 0 1rem;
                    text-align: left;
                }
                .copyright-desktop {
                    display: none;
                }
            }
            .middle-column {
                margin: 48px 0 0 0;
                padding-left: 16px;
                width: 100%;
            }
            .right-column {
                margin: 32px 0 0 0;
                padding: 0;
                width: 100%;
                .upper-content {
                    width: 100%;
                    padding-left: 1rem;
                    h3 {
                        margin-bottom: 1.4375rem;
                    }
                    .mail {
                        margin-bottom: 2rem;
                    }
                }
                .lower-content {
                    width: 100%;
                    padding-left: 1rem;
                    .icon-container {
                        width: 12rem;
                    }
                }
            }
            .copyright-mob {
                width: 100%;
                display: flex;
                margin: 3rem 0 3rem 0;
            }
        }
    }
}
