@media (max-width: 375px) {
    .container.main > .row,
    .container.store > .row,
    .container.footer > .row {
        display: flex;
        flex-direction: column;
    }
    .container.main > .row,
    .container.store > .row {
        align-items: center;
        justify-content: center;
    }
}
