h1,
h2 {
    font-family: var(--second-font-family);
}

h3 {
    font-size: 20px;
    letter-spacing: 1.6px;
    color: var(--fourth-color);
    text-transform: uppercase;
}
.container.footer {
    background-color: var(--seventh-color);
}
